@layer utilities{
    .text-white{
        color: #FFFFFF;
    }

    .text-primary{
        color : #5f62e2;
    }
    .text-primary-200{
        color : #efeffc;
    }
    .text-primary-300{
        color : #cfd0f6;
    }
    .text-primary-400{
        color : #7f81e8;
    }
    .text-primary-600{
        color : #5652cb;
    }

    /* background primary */
    .bg-primary{
        background-color : #5f62e2;
    }
    .hover\:bg-primary:hover{
        background-color : #5f62e2;
    }
    .bg-primary-200{
        background-color : #efeffc;
    }
    .hover\:bg-primary-200:hover{
        background-color : #efeffc;
    }
    .bg-primary-300{
        background-color : #cfd0f6;
    }
    .hover\:bg-primary-300:hover{
        background-color : #cfd0f6;
    }
    .hover\:bg-primary-300\/50:hover{
        background-color : rgba(207, 208, 246, .5);
    }
    .bg-primary-400{
        background-color : #7f81e8;
    }
    .hover\:bg-primary-400:hover{
        background-color : #7f81e8;
    }
    .bg-primary-600{
        background-color : #5652cb;
    }
    .hover\:bg-primary-600:hover{
        background-color : #5652cb;
    }

    .text-secondary{
        color : #2ab691;
    }
    .text-secondary-200{
        color : #eaf8f4;
    }
    .text-secondary-300{
        color : #bfe9de;
    }
    .text-secondary-400{
        color : #56c4a7;
    }
    .text-secondary-600{
        color : #26a482;
    }

    /* background secondary */
    .bg-secondary{
        background-color : #2ab691;
    }
    .hover\:bg-secondary:hover{
        color : #2ab691;
    }
    .bg-secondary-200{
        background-color : #eaf8f4;
    }
    .hover\:bg-secondary-200:hover{
        background-color : #eaf8f4;
    }
    .bg-secondary-300{
        background-color : #bfe9de;
    }
    .hover\:bg-secondary-300:hover{
        background-color : #bfe9de;
    }
    .bg-secondary-400{
        background-color : #56c4a7;
    }
    .hover\:bg-secondary-400:hover{
        background-color : #56c4a7;
    }
    .bg-secondary-600{
        background-color : #26a482;
    }
    .hover\:bg-secondary-600:hover{
        background-color : #26a482;
    }

    .text-gray{
        color : #1d1d1d;
    }
    .text-gray-400{
        color : #f2f2f2;
    }
    .text-gray-500{
        color : #e5e5e5;
    }
    .text-gray-600{
        color : #b2b2b2;
    }
    .text-gray-700{
        color : #888888;
    }
    .text-gray-800{
        color : #333333;
    }

    /* background gray */
    .bg-gray{
        background-color : #1d1d1d;
    }
    .bg-gray-400{
        background-color : #f2f2f2;
    }
    .bg-gray-500{
        background-color : #e5e5e5;
    }
    .bg-gray-600{
        background-color : #b2b2b2;
    }
    .bg-gray-700{
        background-color : #888888;
    }
    .bg-gray-800{
        background-color : #333333;
    }

    /* danger (rouge) */
    .text-alert-danger, 
    .placeholder-danger::placeholder {
      color: #FF4E4E; /* rouge vif */
      opacity: 1;
    }
  
    /* warning (orange) */
    .text-alert-warning, 
    .placeholder-warning::placeholder {
      color: #FEB72F; /* orange / amber-ish */
      opacity: 1;
    }
  
    /* success (vert) */
    .text-alert-success,
    .placeholder-success::placeholder {
      color: #90DA19; /* vert propre */
      opacity: 1;
    }
    
}